@import "../../styles/_colors.scss";

.MessageCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  background-color: white;
  border-radius: 0.8rem;
  margin-bottom: 3rem;
  padding: 1rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  .MessageCard-date {
    color: darken($lbc-dark-grey, 20);
    margin-top: 1rem;
  }
}
