@import '../../styles/_colors.scss';

.MessageCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  background-color: white;
  border-radius: 0.8rem;
  margin-bottom: 3rem;
  padding: 1rem;

  .MessageCard-date {
    color: $lbc-dark-grey;
    margin-bottom: 1rem;
  }
}
